--
-- PostgreSQL database dump
--

\restrict rzkadaAmTfig5vejr8TXpDs2gTevsM3q23zufRsdRjB407PfnCpIK2Idg7028i4

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ecusol_clientes; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA ecusol_clientes;


ALTER SCHEMA ecusol_clientes OWNER TO postgres;

--
-- Name: ecusol_cuentas; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA ecusol_cuentas;


ALTER SCHEMA ecusol_cuentas OWNER TO postgres;

--
-- Name: ecusol_transacciones; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA ecusol_transacciones;


ALTER SCHEMA ecusol_transacciones OWNER TO postgres;

--
-- Name: ecusol_ventanilla; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA ecusol_ventanilla;


ALTER SCHEMA ecusol_ventanilla OWNER TO postgres;

--
-- Name: ecusol_web; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA ecusol_web;


ALTER SCHEMA ecusol_web OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cliente; Type: TABLE; Schema: ecusol_clientes; Owner: postgres
--

CREATE TABLE ecusol_clientes.cliente (
    clienteid integer NOT NULL,
    estado character varying(15) NOT NULL,
    fecharegistro date NOT NULL,
    tipocliente character varying(1) NOT NULL
);


ALTER TABLE ecusol_clientes.cliente OWNER TO postgres;

--
-- Name: cliente_clienteid_seq; Type: SEQUENCE; Schema: ecusol_clientes; Owner: postgres
--

ALTER TABLE ecusol_clientes.cliente ALTER COLUMN clienteid ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME ecusol_clientes.cliente_clienteid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: empresa; Type: TABLE; Schema: ecusol_clientes; Owner: postgres
--

CREATE TABLE ecusol_clientes.empresa (
    correoelectronico character varying(100) NOT NULL,
    razonsocial character varying(150) NOT NULL,
    ruc character varying(13) NOT NULL,
    telefono character varying(20) NOT NULL,
    clienteid integer NOT NULL
);


ALTER TABLE ecusol_clientes.empresa OWNER TO postgres;

--
-- Name: persona; Type: TABLE; Schema: ecusol_clientes; Owner: postgres
--

CREATE TABLE ecusol_clientes.persona (
    apellidos character varying(100) NOT NULL,
    direccion character varying(200) NOT NULL,
    fechanacimiento date NOT NULL,
    nombres character varying(100) NOT NULL,
    numeroidentificacion character varying(13) NOT NULL,
    tipoidentificacion character varying(15) NOT NULL,
    clienteid integer NOT NULL
);


ALTER TABLE ecusol_clientes.persona OWNER TO postgres;

--
-- Name: representanteempresa; Type: TABLE; Schema: ecusol_clientes; Owner: postgres
--

CREATE TABLE ecusol_clientes.representanteempresa (
    clienteempresaid integer NOT NULL,
    empresaid integer NOT NULL,
    estado character varying(15) NOT NULL,
    fechafin date,
    fechainicio date NOT NULL,
    personaid integer NOT NULL,
    rol character varying(50) NOT NULL
);


ALTER TABLE ecusol_clientes.representanteempresa OWNER TO postgres;

--
-- Name: representanteempresa_clienteempresaid_seq; Type: SEQUENCE; Schema: ecusol_clientes; Owner: postgres
--

ALTER TABLE ecusol_clientes.representanteempresa ALTER COLUMN clienteempresaid ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME ecusol_clientes.representanteempresa_clienteempresaid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cuenta; Type: TABLE; Schema: ecusol_cuentas; Owner: postgres
--

CREATE TABLE ecusol_cuentas.cuenta (
    cuentaid integer NOT NULL,
    clienteid integer NOT NULL,
    estado character varying(15) NOT NULL,
    fechaapertura date NOT NULL,
    numerocuenta character varying(20) NOT NULL,
    saldo numeric(38,2) NOT NULL,
    sucursalidapertura integer NOT NULL,
    tipocuentaid integer NOT NULL
);


ALTER TABLE ecusol_cuentas.cuenta OWNER TO postgres;

--
-- Name: cuenta_cuentaid_seq; Type: SEQUENCE; Schema: ecusol_cuentas; Owner: postgres
--

ALTER TABLE ecusol_cuentas.cuenta ALTER COLUMN cuentaid ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME ecusol_cuentas.cuenta_cuentaid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tasaintereshistorico; Type: TABLE; Schema: ecusol_cuentas; Owner: postgres
--

CREATE TABLE ecusol_cuentas.tasaintereshistorico (
    tasaintereshistoricoid integer NOT NULL,
    fechafinvigencia date,
    fechainiciovigencia date NOT NULL,
    tasamensual double precision NOT NULL,
    tipocuentaid integer NOT NULL
);


ALTER TABLE ecusol_cuentas.tasaintereshistorico OWNER TO postgres;

--
-- Name: tasaintereshistorico_tasaintereshistoricoid_seq; Type: SEQUENCE; Schema: ecusol_cuentas; Owner: postgres
--

ALTER TABLE ecusol_cuentas.tasaintereshistorico ALTER COLUMN tasaintereshistoricoid ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME ecusol_cuentas.tasaintereshistorico_tasaintereshistoricoid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tipocuenta; Type: TABLE; Schema: ecusol_cuentas; Owner: postgres
--

CREATE TABLE ecusol_cuentas.tipocuenta (
    tipocuentaid integer NOT NULL,
    descripcion character varying(200) NOT NULL,
    estado character varying(15) NOT NULL,
    nombre character varying(50) NOT NULL,
    tipoamortizacion character varying(20) NOT NULL
);


ALTER TABLE ecusol_cuentas.tipocuenta OWNER TO postgres;

--
-- Name: tipocuenta_tipocuentaid_seq; Type: SEQUENCE; Schema: ecusol_cuentas; Owner: postgres
--

ALTER TABLE ecusol_cuentas.tipocuenta ALTER COLUMN tipocuentaid ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME ecusol_cuentas.tipocuenta_tipocuentaid_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: transaccion; Type: TABLE; Schema: ecusol_transacciones; Owner: postgres
--

CREATE TABLE ecusol_transacciones.transaccion (
    transaccion_id integer NOT NULL,
    cuenta_destino character varying(255),
    cuenta_origen character varying(255),
    descripcion character varying(255),
    estado character varying(255),
    fecha_ejecucion timestamp(6) without time zone,
    id_banco_destino integer,
    id_banco_origen integer,
    instruction_id character varying(255),
    mensaje_error character varying(255),
    monto numeric(38,2),
    referencia character varying(255),
    rol_transaccion character varying(255),
    version bigint
);


ALTER TABLE ecusol_transacciones.transaccion OWNER TO postgres;

--
-- Name: transaccion_transaccion_id_seq; Type: SEQUENCE; Schema: ecusol_transacciones; Owner: postgres
--

ALTER TABLE ecusol_transacciones.transaccion ALTER COLUMN transaccion_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME ecusol_transacciones.transaccion_transaccion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: empleado; Type: TABLE; Schema: ecusol_ventanilla; Owner: postgres
--

CREATE TABLE ecusol_ventanilla.empleado (
    empleadoid integer NOT NULL,
    activo boolean,
    apellidos character varying(255) NOT NULL,
    nombres character varying(255) NOT NULL,
    contrasenahash character varying(255) NOT NULL,
    rol character varying(255) NOT NULL,
    sucursalid integer NOT NULL,
    usuario character varying(255) NOT NULL
);


ALTER TABLE ecusol_ventanilla.empleado OWNER TO postgres;

--
-- Name: empleado_empleadoid_seq; Type: SEQUENCE; Schema: ecusol_ventanilla; Owner: postgres
--

CREATE SEQUENCE ecusol_ventanilla.empleado_empleadoid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ecusol_ventanilla.empleado_empleadoid_seq OWNER TO postgres;

--
-- Name: empleado_empleadoid_seq; Type: SEQUENCE OWNED BY; Schema: ecusol_ventanilla; Owner: postgres
--

ALTER SEQUENCE ecusol_ventanilla.empleado_empleadoid_seq OWNED BY ecusol_ventanilla.empleado.empleadoid;


--
-- Name: beneficiario; Type: TABLE; Schema: ecusol_web; Owner: postgres
--

CREATE TABLE ecusol_web.beneficiario (
    beneficiarioid integer NOT NULL,
    alias character varying(255),
    fecharegistro timestamp(6) without time zone,
    nombretitular character varying(255) NOT NULL,
    numerocuentadestino character varying(255) NOT NULL,
    tipocuenta character varying(255),
    usuariowebid integer NOT NULL
);


ALTER TABLE ecusol_web.beneficiario OWNER TO postgres;

--
-- Name: beneficiario_beneficiarioid_seq; Type: SEQUENCE; Schema: ecusol_web; Owner: postgres
--

CREATE SEQUENCE ecusol_web.beneficiario_beneficiarioid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ecusol_web.beneficiario_beneficiarioid_seq OWNER TO postgres;

--
-- Name: beneficiario_beneficiarioid_seq; Type: SEQUENCE OWNED BY; Schema: ecusol_web; Owner: postgres
--

ALTER SEQUENCE ecusol_web.beneficiario_beneficiarioid_seq OWNED BY ecusol_web.beneficiario.beneficiarioid;


--
-- Name: usuarioweb; Type: TABLE; Schema: ecusol_web; Owner: postgres
--

CREATE TABLE ecusol_web.usuarioweb (
    usuariowebid integer NOT NULL,
    clienteidcore integer NOT NULL,
    emailcontacto character varying(255) NOT NULL,
    estado character varying(255) NOT NULL,
    fecharegistro timestamp(6) without time zone,
    intentosfallidos integer,
    contrasenahash character varying(255) NOT NULL,
    ultimoacceso timestamp(6) without time zone,
    usuario character varying(255) NOT NULL
);


ALTER TABLE ecusol_web.usuarioweb OWNER TO postgres;

--
-- Name: usuarioweb_usuariowebid_seq; Type: SEQUENCE; Schema: ecusol_web; Owner: postgres
--

CREATE SEQUENCE ecusol_web.usuarioweb_usuariowebid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE ecusol_web.usuarioweb_usuariowebid_seq OWNER TO postgres;

--
-- Name: usuarioweb_usuariowebid_seq; Type: SEQUENCE OWNED BY; Schema: ecusol_web; Owner: postgres
--

ALTER SEQUENCE ecusol_web.usuarioweb_usuariowebid_seq OWNED BY ecusol_web.usuarioweb.usuariowebid;


--
-- Name: empleado empleadoid; Type: DEFAULT; Schema: ecusol_ventanilla; Owner: postgres
--

ALTER TABLE ONLY ecusol_ventanilla.empleado ALTER COLUMN empleadoid SET DEFAULT nextval('ecusol_ventanilla.empleado_empleadoid_seq'::regclass);


--
-- Name: beneficiario beneficiarioid; Type: DEFAULT; Schema: ecusol_web; Owner: postgres
--

ALTER TABLE ONLY ecusol_web.beneficiario ALTER COLUMN beneficiarioid SET DEFAULT nextval('ecusol_web.beneficiario_beneficiarioid_seq'::regclass);


--
-- Name: usuarioweb usuariowebid; Type: DEFAULT; Schema: ecusol_web; Owner: postgres
--

ALTER TABLE ONLY ecusol_web.usuarioweb ALTER COLUMN usuariowebid SET DEFAULT nextval('ecusol_web.usuarioweb_usuariowebid_seq'::regclass);


--
-- Data for Name: cliente; Type: TABLE DATA; Schema: ecusol_clientes; Owner: postgres
--

COPY ecusol_clientes.cliente (clienteid, estado, fecharegistro, tipocliente) FROM stdin;
1	ACTIVO	2025-12-21	P
2	ACTIVO	2025-12-21	P
\.


--
-- Data for Name: empresa; Type: TABLE DATA; Schema: ecusol_clientes; Owner: postgres
--

COPY ecusol_clientes.empresa (correoelectronico, razonsocial, ruc, telefono, clienteid) FROM stdin;
\.


--
-- Data for Name: persona; Type: TABLE DATA; Schema: ecusol_clientes; Owner: postgres
--

COPY ecusol_clientes.persona (apellidos, direccion, fechanacimiento, nombres, numeroidentificacion, tipoidentificacion, clienteid) FROM stdin;
Test	Quito	2000-01-01	Brayan	0999999998	CEDULA	2
Rivera	Sangolqu├¡	2000-01-01	Stephi	1726325616	CEDULA	1
\.


--
-- Data for Name: representanteempresa; Type: TABLE DATA; Schema: ecusol_clientes; Owner: postgres
--

COPY ecusol_clientes.representanteempresa (clienteempresaid, empresaid, estado, fechafin, fechainicio, personaid, rol) FROM stdin;
\.


--
-- Data for Name: cuenta; Type: TABLE DATA; Schema: ecusol_cuentas; Owner: postgres
--

COPY ecusol_cuentas.cuenta (cuentaid, clienteid, estado, fechaapertura, numerocuenta, saldo, sucursalidapertura, tipocuentaid) FROM stdin;
2	2	ACTIVO	2025-12-21	2000000002	2500.00	1	1
1	1	ACTIVA	2025-12-21	6358902015	4500.00	1	1
3	1	ACTIVA	2025-12-21	6360715848	430.00	1	1
\.


--
-- Data for Name: tasaintereshistorico; Type: TABLE DATA; Schema: ecusol_cuentas; Owner: postgres
--

COPY ecusol_cuentas.tasaintereshistorico (tasaintereshistoricoid, fechafinvigencia, fechainiciovigencia, tasamensual, tipocuentaid) FROM stdin;
\.


--
-- Data for Name: tipocuenta; Type: TABLE DATA; Schema: ecusol_cuentas; Owner: postgres
--

COPY ecusol_cuentas.tipocuenta (tipocuentaid, descripcion, estado, nombre, tipoamortizacion) FROM stdin;
1	Cuenta de Ahorros	ACTIVO	AHORROS	MENSUAL
2	Cuenta Corriente	ACTIVO	CORRIENTE	MENSUAL
\.


--
-- Data for Name: transaccion; Type: TABLE DATA; Schema: ecusol_transacciones; Owner: postgres
--



--
-- Data for Name: empleado; Type: TABLE DATA; Schema: ecusol_ventanilla; Owner: postgres
--

COPY ecusol_ventanilla.empleado (empleadoid, activo, apellidos, nombres, contrasenahash, rol, sucursalid, usuario) FROM stdin;
1	t	Sistema	Administrador	$2a$10$fNgSKWLzZ8uQnnD5xa4cnumKAyRR2J2x9M9fqZsGwm9MPa4c3bjvW	ADMIN	1	admin
\.


--
-- Data for Name: beneficiario; Type: TABLE DATA; Schema: ecusol_web; Owner: postgres
--

COPY ecusol_web.beneficiario (beneficiarioid, alias, fecharegistro, nombretitular, numerocuentadestino, tipocuenta, usuariowebid) FROM stdin;
\.


--
-- Data for Name: usuarioweb; Type: TABLE DATA; Schema: ecusol_web; Owner: postgres
--

COPY ecusol_web.usuarioweb (usuariowebid, clienteidcore, emailcontacto, estado, fecharegistro, intentosfallidos, contrasenahash, ultimoacceso, usuario) FROM stdin;
3	2	brayan@ecusol.com	ACTIVO	2025-12-21 23:21:25.578227	\N	$2a$10$fNgSKWLzZ8uQnnD5xa4cnumKAyRR2J2x9M9fqZsGwm9MPa4c3bjvW	\N	Brayan
1	1	stephani.rivera@novaseguroslatam.com	ACTIVO	\N	\N	$2a$10$fNgSKWLzZ8uQnnD5xa4cnumKAyRR2J2x9M9fqZsGwm9MPa4c3bjvW	2025-12-21 23:44:23.585925	STEPHI
2	1	brayan@yahoo.com	ACTIVO	\N	\N	$2a$10$w.3SOZwuocpxYkVoOOWHPuMDHXA36mkbPUdx6RPtKwVHdz9drhW2.	2025-12-21 23:44:34.138916	BRAYAN
\.


--
-- Name: cliente_clienteid_seq; Type: SEQUENCE SET; Schema: ecusol_clientes; Owner: postgres
--

SELECT pg_catalog.setval('ecusol_clientes.cliente_clienteid_seq', 2, true);


--
-- Name: representanteempresa_clienteempresaid_seq; Type: SEQUENCE SET; Schema: ecusol_clientes; Owner: postgres
--

SELECT pg_catalog.setval('ecusol_clientes.representanteempresa_clienteempresaid_seq', 1, false);


--
-- Name: cuenta_cuentaid_seq; Type: SEQUENCE SET; Schema: ecusol_cuentas; Owner: postgres
--

SELECT pg_catalog.setval('ecusol_cuentas.cuenta_cuentaid_seq', 3, true);


--
-- Name: tasaintereshistorico_tasaintereshistoricoid_seq; Type: SEQUENCE SET; Schema: ecusol_cuentas; Owner: postgres
--

SELECT pg_catalog.setval('ecusol_cuentas.tasaintereshistorico_tasaintereshistoricoid_seq', 1, false);


--
-- Name: tipocuenta_tipocuentaid_seq; Type: SEQUENCE SET; Schema: ecusol_cuentas; Owner: postgres
--

SELECT pg_catalog.setval('ecusol_cuentas.tipocuenta_tipocuentaid_seq', 2, true);


--
-- Name: transaccion_transaccion_id_seq; Type: SEQUENCE SET; Schema: ecusol_transacciones; Owner: postgres
--

SELECT pg_catalog.setval('ecusol_transacciones.transaccion_transaccion_id_seq', 9, true);


--
-- Name: empleado_empleadoid_seq; Type: SEQUENCE SET; Schema: ecusol_ventanilla; Owner: postgres
--

SELECT pg_catalog.setval('ecusol_ventanilla.empleado_empleadoid_seq', 2, true);


--
-- Name: beneficiario_beneficiarioid_seq; Type: SEQUENCE SET; Schema: ecusol_web; Owner: postgres
--

SELECT pg_catalog.setval('ecusol_web.beneficiario_beneficiarioid_seq', 1, false);


--
-- Name: usuarioweb_usuariowebid_seq; Type: SEQUENCE SET; Schema: ecusol_web; Owner: postgres
--

SELECT pg_catalog.setval('ecusol_web.usuarioweb_usuariowebid_seq', 3, true);


--
-- Name: cliente cliente_pkey; Type: CONSTRAINT; Schema: ecusol_clientes; Owner: postgres
--

ALTER TABLE ONLY ecusol_clientes.cliente
    ADD CONSTRAINT cliente_pkey PRIMARY KEY (clienteid);


--
-- Name: empresa empresa_pkey; Type: CONSTRAINT; Schema: ecusol_clientes; Owner: postgres
--

ALTER TABLE ONLY ecusol_clientes.empresa
    ADD CONSTRAINT empresa_pkey PRIMARY KEY (clienteid);


--
-- Name: persona persona_pkey; Type: CONSTRAINT; Schema: ecusol_clientes; Owner: postgres
--

ALTER TABLE ONLY ecusol_clientes.persona
    ADD CONSTRAINT persona_pkey PRIMARY KEY (clienteid);


--
-- Name: representanteempresa representanteempresa_pkey; Type: CONSTRAINT; Schema: ecusol_clientes; Owner: postgres
--

ALTER TABLE ONLY ecusol_clientes.representanteempresa
    ADD CONSTRAINT representanteempresa_pkey PRIMARY KEY (clienteempresaid);


--
-- Name: persona uk9cl9xk76vi8d2lk111xg8xc1h; Type: CONSTRAINT; Schema: ecusol_clientes; Owner: postgres
--

ALTER TABLE ONLY ecusol_clientes.persona
    ADD CONSTRAINT uk9cl9xk76vi8d2lk111xg8xc1h UNIQUE (numeroidentificacion);


--
-- Name: empresa ukfkso2kbttplho71hoeka6px1s; Type: CONSTRAINT; Schema: ecusol_clientes; Owner: postgres
--

ALTER TABLE ONLY ecusol_clientes.empresa
    ADD CONSTRAINT ukfkso2kbttplho71hoeka6px1s UNIQUE (ruc);


--
-- Name: cuenta cuenta_pkey; Type: CONSTRAINT; Schema: ecusol_cuentas; Owner: postgres
--

ALTER TABLE ONLY ecusol_cuentas.cuenta
    ADD CONSTRAINT cuenta_pkey PRIMARY KEY (cuentaid);


--
-- Name: tasaintereshistorico tasaintereshistorico_pkey; Type: CONSTRAINT; Schema: ecusol_cuentas; Owner: postgres
--

ALTER TABLE ONLY ecusol_cuentas.tasaintereshistorico
    ADD CONSTRAINT tasaintereshistorico_pkey PRIMARY KEY (tasaintereshistoricoid);


--
-- Name: tipocuenta tipocuenta_pkey; Type: CONSTRAINT; Schema: ecusol_cuentas; Owner: postgres
--

ALTER TABLE ONLY ecusol_cuentas.tipocuenta
    ADD CONSTRAINT tipocuenta_pkey PRIMARY KEY (tipocuentaid);


--
-- Name: cuenta uk6eoclgobf64ak92w7h4vjibj4; Type: CONSTRAINT; Schema: ecusol_cuentas; Owner: postgres
--

ALTER TABLE ONLY ecusol_cuentas.cuenta
    ADD CONSTRAINT uk6eoclgobf64ak92w7h4vjibj4 UNIQUE (numerocuenta);


--
-- Name: transaccion transaccion_pkey; Type: CONSTRAINT; Schema: ecusol_transacciones; Owner: postgres
--

ALTER TABLE ONLY ecusol_transacciones.transaccion
    ADD CONSTRAINT transaccion_pkey PRIMARY KEY (transaccion_id);


--
-- Name: transaccion ukrjk5soumn6uuftxcc0fn4yug8; Type: CONSTRAINT; Schema: ecusol_transacciones; Owner: postgres
--

ALTER TABLE ONLY ecusol_transacciones.transaccion
    ADD CONSTRAINT ukrjk5soumn6uuftxcc0fn4yug8 UNIQUE (instruction_id);


--
-- Name: empleado empleado_pkey; Type: CONSTRAINT; Schema: ecusol_ventanilla; Owner: postgres
--

ALTER TABLE ONLY ecusol_ventanilla.empleado
    ADD CONSTRAINT empleado_pkey PRIMARY KEY (empleadoid);


--
-- Name: empleado uk_oqf74jqhm1ebgyhxm1hpi47a1; Type: CONSTRAINT; Schema: ecusol_ventanilla; Owner: postgres
--

ALTER TABLE ONLY ecusol_ventanilla.empleado
    ADD CONSTRAINT uk_oqf74jqhm1ebgyhxm1hpi47a1 UNIQUE (usuario);


--
-- Name: beneficiario beneficiario_pkey; Type: CONSTRAINT; Schema: ecusol_web; Owner: postgres
--

ALTER TABLE ONLY ecusol_web.beneficiario
    ADD CONSTRAINT beneficiario_pkey PRIMARY KEY (beneficiarioid);


--
-- Name: usuarioweb uk_qutd6niaar1y48wqneuvd3k4b; Type: CONSTRAINT; Schema: ecusol_web; Owner: postgres
--

ALTER TABLE ONLY ecusol_web.usuarioweb
    ADD CONSTRAINT uk_qutd6niaar1y48wqneuvd3k4b UNIQUE (usuario);


--
-- Name: usuarioweb usuarioweb_pkey; Type: CONSTRAINT; Schema: ecusol_web; Owner: postgres
--

ALTER TABLE ONLY ecusol_web.usuarioweb
    ADD CONSTRAINT usuarioweb_pkey PRIMARY KEY (usuariowebid);


--
-- Name: persona fk550jrw9tdxpowhwx40j8t982w; Type: FK CONSTRAINT; Schema: ecusol_clientes; Owner: postgres
--

ALTER TABLE ONLY ecusol_clientes.persona
    ADD CONSTRAINT fk550jrw9tdxpowhwx40j8t982w FOREIGN KEY (clienteid) REFERENCES ecusol_clientes.cliente(clienteid);


--
-- Name: empresa fkdu3vo65ufxh4u0ivpg7muvyp0; Type: FK CONSTRAINT; Schema: ecusol_clientes; Owner: postgres
--

ALTER TABLE ONLY ecusol_clientes.empresa
    ADD CONSTRAINT fkdu3vo65ufxh4u0ivpg7muvyp0 FOREIGN KEY (clienteid) REFERENCES ecusol_clientes.cliente(clienteid);


--
-- Name: cuenta fkc1gqul8nvx2l0lbicmpuq0lok; Type: FK CONSTRAINT; Schema: ecusol_cuentas; Owner: postgres
--

ALTER TABLE ONLY ecusol_cuentas.cuenta
    ADD CONSTRAINT fkc1gqul8nvx2l0lbicmpuq0lok FOREIGN KEY (tipocuentaid) REFERENCES ecusol_cuentas.tipocuenta(tipocuentaid);


--
-- Name: tasaintereshistorico fkpuu858y3emncmog6u5h61bfu0; Type: FK CONSTRAINT; Schema: ecusol_cuentas; Owner: postgres
--

ALTER TABLE ONLY ecusol_cuentas.tasaintereshistorico
    ADD CONSTRAINT fkpuu858y3emncmog6u5h61bfu0 FOREIGN KEY (tipocuentaid) REFERENCES ecusol_cuentas.tipocuenta(tipocuentaid);


--
-- Name: beneficiario fkn0fgsjhvn0213gmvxpufaqsl3; Type: FK CONSTRAINT; Schema: ecusol_web; Owner: postgres
--

ALTER TABLE ONLY ecusol_web.beneficiario
    ADD CONSTRAINT fkn0fgsjhvn0213gmvxpufaqsl3 FOREIGN KEY (usuariowebid) REFERENCES ecusol_web.usuarioweb(usuariowebid);


--
-- PostgreSQL database dump complete
--

\unrestrict rzkadaAmTfig5vejr8TXpDs2gTevsM3q23zufRsdRjB407PfnCpIK2Idg7028i4

